# Data folder
[dD][aA][tT][aA]/

# Derived data
DerivedData/

# Libraries
Libraries/

# User preferences
userPreferences.*/

# Uncomment (remove the following # ) to ignore Trash
Project/Trash
Data/
WebFolder/

data.4DD
data.journal

# System files
.DS_Store
ehthumbs.db
Thumbs.db

# Components/

ignore
buildApp.4DSettings
settings.4DSettings
dependencies.json
4D-QPDF/Resources/qpdf/mac/
4D-QPDF/Helpers/qpdf/mac/intel
4D-QPDF_UnitTests/Components/4D-QPDF.4dbase
UT-4D-QPDF.txt
